.App {
  display: flex;
  padding-top: 40vh;
  padding-left: 30vw;
  background-color: #F5F5F5;
  height: 100vh;
}

.container{
display: flex;
justify-items: space-between;
height: 208px;
width: 553px;
left: 435px;
top: 200px;
border-radius: 0px;
}
.userList{
  height: 168px;
width: 146px;
left: 0px;
top: 0px;
border-radius: 0px;
}

.userItem{
  cursor: pointer;
  display: flex;
  justify-items: space-between;
  gap: 16px;
  width: 146px;
}

.useritem:active{
  font-weight: 500;

}
.userImage{
  height: 30px;
width: 30px;
}
.userName{
font-size: 12px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
}
.detailsContainer{
  height: fit-content;
width: 237px;
left: 216px;
top: 0px;
border-radius: 8px;
background-color: #FFFFFF;
padding: 24px;
}
.amount{
  color: #6FCF97;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
.buttons{
  display: flex;
  justify-items: space-between;
  gap: 12px;

}
.w-button{
  height: 48px;
  width: 119px;
  left: 24px;
  top: 136px;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  background: #6FCF97;
color: white;
border: none;
}
.d-button{
  height: 48px;
  width: 119px;
  left: 24px;
  top: 136px;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  background: white;
color: #6FCF97;
border:  1px solid #6FCF97;
}